/* CSS and SASS Variables */
:root {
  --base_color: #1e90ff;
  --light_color: #a5d3ff;
  --dark_color: #0051a5;
  --black_color: #003368;
  --font_white: #f0f0f0;
  --font_black: #000;
  --max_width_obj: 100vw;
}