/* Main Style Sheet */

$base_color: var(--base_color);
$light_color: var(--light_color);
$dark_color: var(--dark_color);
$black_color: var(--black_color);

$font_white: var(--font_white);
$font_black: var(--font_black);

$max_width_obj: var(--max_width_obj);

* { margin: 0; padding: 0; }

body {
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template: 
        minmax(5vh, auto) 1fr minmax(5vh, auto) / 
        1fr 1fr 1fr;
    grid-template-areas: 
        "header  header  header "
        "content content content"
        "footer  footer  footer ";

    overflow-x: hidden;
}

.header {
    padding: 1rem 0.5rem;

    background-color: $dark_color;

    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 0.75rem;

    grid-area: header;

    .header__title {
        padding: 0.25rem 0.75rem;
        border-bottom: 2px solid $base_color;
        border-radius: 0.5rem / 0.25rem;

        color: $font_white;
        font: 700 1.75rem/125% "Roboto Condensed", sans-serif;
        text-align: center;
        text-transform: capitalize;

        &::before {
            content: "\f073";

            margin: 0 0.25rem;

            color: $base_color;
            font: 500 1.75rem/100% "FontAwesome";
        }
    }

    .header__subtitle {
        color: $base_color;
        font: 700 1rem/110% "Roboto Mono", monospace;
        text-align: center;
        text-transform: capitalize;
    }
}

.content {
    display: grid;
    grid-template: 
        auto /
        1fr 1fr;
    grid-auto-rows: auto;

    grid-area: content;

    @mixin section_style($class_name, $dark, $base, $light) {
        max-width: $max_width_obj;

        padding: 0.75rem 0.5rem;
        border-radius: 0.5rem;
        margin: 0.5rem;

        box-shadow: 2px 3px 5px 0 $dark;

        .#{$class_name}__title {
            padding: 0.25rem 0.5rem; 
            border-bottom: 3px solid $base;
            border-radius: 1rem / 0.15rem;
            margin: 0.5rem;

            color: $font_black;
            font: 700 1.45rem/120% "Roboto Condensed", sans-serif;
            text-transform: capitalize;
        }
        
        .#{$class_name}__subtitle {
            padding: 0.25rem 0.35rem;
            margin: 0.5rem;

            color: $font_black;
            font: 700 1.2rem/115% "Roboto", sans-serif;
            text-transform: capitalize;
        }

        .#{$class_name}__text {
            margin: 0.5rem;

            color: $font_black;
            font: 400 1.05rem/110% "Roboto", sans-serif;
        }

        .list {
            padding: 0.5rem 0.5rem;
            border-left: 2px solid $light;
            margin: 0.25rem 1rem;

            list-style: none;

            .li {
                margin: 0.25rem;

                color: $font_black;
                font: 400 1.05rem/110% "Roboto", sans-serif;

                &:before {
                    margin: 0 0.125rem;

                    content: "\f101";
                    color: $light;
                    font: 500 1.05rem/110% "FontAwesome";
                }
            }
        }
    } 

    @mixin changeColorVariables ($remplace_base, $remplace_light, $remplace_dark) {
        --base_color: #{$remplace_base};
        --light_color: #{$remplace_light};
        --dark_color: #{$remplace_dark};
    }

    .intro {
        grid-row: span 1;
        grid-column: span 2;
        align-self: flex-start;
        justify-self: center;

        @include section_style("intro", $dark_color, $base_color, $light_color);
    }
    
    .life-area {
        grid-row: span 1;
        grid-column: span 2;
        align-self: flex-start;
        justify-self: center;

        @include section_style("area", $dark_color, $base_color, $light_color);

        $to_do_list:
            "start" "\f058" var(--financiera_base_color), 
            "continue" "\f056" var(--laboral_base_color),
            "stop" "\f057" var(--salud_dark_color);

        @each $to_do_name, $code, $color in $to_do_list {
            .#{$to_do_name}-icon {
                display: inline-block;

                &::before {
                    content: $code;
    
                    margin: 0 0.25rem;
    
                    color: $color;
                    font: 500 1em "FontAwesome";
                }
            }
        }
    }

    $life_areas: 
        "academica",
        "laboral",
        "salud",
        "financiera";

    @each $area_name in $life_areas {
        .life-area--#{$area_name} {
            @include changeColorVariables(
                var(--#{$area_name}_base_color), 
                var(--#{$area_name}_light_color),
                var(--#{$area_name}_dark_color)
            );
        }
    }
}

.footer {
    background-color: $black_color;

    grid-area: footer;
}